* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all .1s ease-in;
}

body {
    font-family: 'Roboto', Arial, sans-serif;
    background-color: #ececec;
}

header {
    padding: 50px 0 25px;
}

.center {
    margin: 0 auto;
    width: 90%;
}

.logo, nav, li {
    display: inline-block;
}

.logo {
    width: 23%;
    font-size: 48px;
    font-weight: 900;
    vertical-align: middle;
}

nav {
    width: 76.6%;
    text-align: right;
}

li {
    margin-right: 50px;
    vertical-align: middle;
    list-style-type: none;
    font-size: 18px;
}
ul li:nth-child(3) {
    margin-right: 0;
}

a {
    text-decoration: none;
    color: black;
}

header .center button {
    width: 35px;
    height: 35px;
    background: url("../img/menu.png") no-repeat center;
    background-size: 50% 50%;
    border: none;
}

.gallery {
    padding-top: 25px;
    background: url("../img/bg_gradient.png") no-repeat center center;
    background-size: 100% 100%;
}

.information {
    display: inline-block;
    width: 59%;
    padding-right: 111px;
    text-align: right;
    vertical-align: middle;
}

h1 {
    margin: 0;
    font-size: 150px;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 900;
    font-family: "Raleway", sans-serif;
}


.information p {
    width: 90%;
    display: inline-block;
    font-size: 24px;
    font-weight: 300;
    line-height: 36px;
}

.view {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.5;
}

.preview_img {
    width: 40%;
    padding: 0 15px;
    display: inline-block;
    vertical-align: middle;
}

.gallery_button {
    text-align: center;
    margin-top: 70px;
}

.gallery_button span {
    width: 12px;
    height:12px;
    background: #303030;
    border-radius: 50%;
    display:inline-block;
    margin-right: 4px;
    margin-left: 4px;
}

.featured_product {
    text-align: center;
    margin-top: 100px;
    padding: 0px 75px 75px;
    background-color: white;
    border-radius: 10px;
}

.featured_product h2 {
    padding-top: 80px;
}

img[alt=underline] {
    padding: 10px 0;
}

.featured_product p {
    width: 45%;
    margin: 0 auto 50px;
}

.photos {
    border-radius: 5px;
}

.photos img {
    width: 30%;
}

.photos .row_1 .first_img {
    width: 63%;
}

.row_1 {
    margin-bottom: 35px;
}

.first_img,
.second_img {
    margin-right: 35px;
}

footer {
    text-align: center;
    color: #979797;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
}

.subscribe {
    text-align: center;
    padding: 80px 0;
}

.subscribe h2,
.featured_product h2 {
    font-size: 48px;
    font-family: "Raleway", sans-serif;
    font-weight: 900;
}

.subscribe p {
    width: 45%;
    margin: 0 auto;
    padding: 20px 0 30px;
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    line-height: 1.2;
}

form {
    width: 57%;
    margin: 0 auto;
    font-size: 0;
}

input[type=email] {
    display: inline-block;
    width:70%;
    padding: 25px 55px 25px 30px;
    font-size: 18px;
    border-radius:35px 0px 0px 35px;
    outline: none;
    border: none;
}

button[type="submit"] {
    position:relative;
    display: inline-block;
    width:30%;
    padding: 25px 55px;
    border-radius:0 35px 35px 0;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background: #e10011;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
    border: none;
}

button[type="submit"]:after {
    content:"";
    position:absolute;
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-left: 7px solid #fff;
    border-bottom: 6px solid transparent;
    top:50%;
    transform:translate(20%,-50%);
}

input::placeholder {
    background: url(../img/email.png) no-repeat left center;
    padding-left:35px;
    color:#979797;
    font-size:18px;
    font-family: "Raleway", sans-serif;
    font-style: italic;
    font-weight: 600;
}

.social div {
    display: inline-block;
    width: 70px;
    height: 70px;
    margin: 0 10px;
    background: white;
    border-radius: 50%;
}

.social .facebook {
    background: white url("../img/facebook.png") no-repeat center;
}

.social .twit {
    background: white url("../img/twit.png") no-repeat center;
}

.social .youtube {
    background: white url("../img/youtube.png") no-repeat center;
}

.social .m {
    background: white url("../img/m.png") no-repeat center;
}

.copyright {
    display: inline-block;
    margin: 0 auto;
    padding: 30px 0;
}

.copyright span{
    color: #303030;
}

nav ul li button:hover,
.social a div:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.view:hover,
header li a:hover {
    color: #e10011;
}

.gallery_button span:hover {
    background: #e10011;
}