/* Обнуляем отступы и задаём шрифты всему документу */
* {
    margin: 0 0;
    padding: 0 0;
    font-family: “Lucida Sans Unicode”, “Lucida Grande”, sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-weight: normal;
    transition: all .1s ease-in;
}

html,
body {
    height: 100%;
}

body {
    background-color: #3399cc;
    color: white;
    border: 20px solid #2B81AC;
}

h1 {
    margin: 40px 0;
}

h1 .wi {
    opacity: 1;
}

footer .wrap {
    margin-top: 30px;
}

.wrap {
    width: 65%;
    margin: 0 auto;
}

ul {
    font-size: 0;
    background-color: white;
    list-style-type: none;
    height: 400px;
    border: 2px solid white;
}

ul:hover li {
    opacity: 0.5;
}

ul li:hover {
    opacity: 1;
}

li {
    display: inline-block;
    font-size: 1.1rem;
    border: 2px solid white;
    height: 25%;
    width: 25%;
}

ul li div {
    text-transform: capitalize;
    text-align: center;
    margin: 20px auto;
}

h1,
.capitalize {
    text-transform: capitalize;
}

.uppercase {
    text-transform: uppercase;
}

.temp {
    line-height: 40px;
    opacity: 0.7;
}

.temp:after {
    content: "\00b0 C";
}

.wi {
    font-size: 1.5rem;
    opacity: 0.7;
}

.lisbon {
    background-color: #3399cc;
    width: 50%;
}

.paris {
    background-color: #33cccc;
}

.belgrade {
    background-color: #996699;
}

.moscow {
    background-color: #c24747;
}

.tel_aviv {
    background-color: #e2674a;
}

.cair {
    background-color: #ffcc66;
}

.new_york {
    background-color: #99cc99;
}

.new_delhi {
    background-color: #669999;
}

.san_francisco {
    background-color: #cc6699;
    width: 50%;
}

.tokyo {
    background-color: #339966;
}

.sydney {
    background-color: #666699;
    width: 100%;
}
