* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background: linear-gradient(to bottom left, #dd2476 ,#ff512f) no-repeat;
}

p, a {
    font-size: 13px;
}

p {
    padding: 20px 0 30px;
    color:  #797b7f;
}

a {
    text-decoration: none;
    color:  #ea355a;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

input {
    width: 48%;
    margin-bottom: 15px;
    padding: 14px 13px;
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: #f0f0f0;
}

input:last-child {
    margin: 0;
}

.container {
    margin: 75px auto 0;
    max-width: 470px;
    padding: 30px 35px;
    border-radius: 4px;
    background-color: white;
}

.header {
    padding-left: 5px;
    font-size: 24px;
    font-weight: 600;
    color:  #1b1c1d;
}

.form_email, .form_password, .btn {
    width: 100%;
}

.btn {
    background-color: #ea355a;
    font-size: 18px;
    line-height: 20px;
    color: rgb(255,255,255);
    font-weight: bold;
    border-bottom: 4px solid #bd1962;
    outline: none;
}