@import "normalize.scss";

*, h1, h2, h3, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
}

.align-center {
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}

.grid-template {
  display: grid;
}

//-----------------  HEADER  -----------------
.page-main-header {
  height: 500px;
  background: url("../img/bg-header.jpg") center center no-repeat;
  background-size: cover;
  .grid-template {
    grid-template-columns: repeat(3, auto);
    grid-template-rows: 100px max-content max-content;
  }
  &__logo {

  }
  &__menu {
    grid-column: -2 / -1;
    text-align: right;
  }
  &__header,
  &__buttons {
    grid-column: 2 / -2;
    text-align: center;
  }
}

//-----------------  MAIN CONTENT  -----------------
.page-main-content {
  padding-top: 150px;
  .grid-template {
    grid-template-rows: repeat(3, auto);
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
  }
  &__team {
    grid-column: 1 / -1;
    text-align: center;
  }
}

.about-as,
.services {
  padding-bottom: 150px;
  &__header,
  &__subtitle {
    padding-bottom: 30px;
  }
}

.benefits {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px 30px;
  padding-bottom: 150px;
  &__header,
  &__subtitle {
    grid-column: 1 / -1;
    //max-width: 725px;
    text-align: center;
  }
}

.benefits-item {

}

.team {
  &__header {
    padding-bottom: 30px;
  }
  &__description{
    padding-bottom: 70px;
  }
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  padding: 30px 0;
  &__photo {
    width: 262px;
    height: 333px;
    overflow: hidden;
  }
}

//-----------------  FOOTER  -----------------
.page-main-footer {
  height: 330px;
  background-color: #7beec7;
  .grid-template {
    grid-template-columns: 1fr 1fr;
  }
  .footer__contact {
  }
  .footer__subscriber {
  }
}