.red {
    background-color: red;
    margin: 10px;
}

.green {
    background-color: green;
    display: inline-block;
    width: 90%;
    vertical-align: middle;
    margin: 20px 0;
}

img {
    vertical-align: middle;
    margin: 33px 25px;
}

.img {
    box-sizing: border-box;
    background-color: #ec5a62;
    width: 90px;
    border: 2px solid black;
    padding: 20px;
}

.test {
    background-color: #2B81AC;
}

.test2 {
    margin: 50px;
}

.wrap {
    /*height: 200px;*/
    /*width: 200px;*/
    display: inline-block;
    background-color: #2B81AC;
}

.margin {
    display: inline-block;
    height: 100px;
    width: 100px;
    margin: 20px;
    background-color: #ac2722;
}

.margin_img {
    width: 50px;
    padding: 50px;
    border: 2px solid black;
}