/* Обнуляем отступы и задаём шрифты всему документу */
* {
    margin: 0 0;
    padding: 0 0;
    font-family: “Trebuchet MS”, Trebuchet, Arial, sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/* анимация */
* {
    transition: all .1s ease-in;
}

html,
body {
    height: 100%;
}
/* Фон страницы */
body {
    background-color: #3b3f45;
    border: 20px solid white;
}

main,
footer {
    margin: 30px 0;
}

header,
footer {
    background-color: #4a4f56;
    color: #eb7e7f;
    text-align: center;
    padding: 20px 0;
}
/* стиль li, убираем маркеры */
li {
    height: 60px;
    list-style-type: none;
    color: white;
    font-size: 1.5rem;
    background-color: #88839e;
}
/* фон четных элементов списка */
ul li:nth-child(2n) {
    background-color: #7a7593;
}
/* рамки и смена фона при наведении */
.item:hover {
    background-color: #625e77;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
}
/* смена цвета элемента при активации */
.item:active {
    background-color: #ef887a;
}
/* пробую выровнять текст по центру */
.item {
    height: 100%;
    width: 100%;
    /*padding: 15px 15px;*/
}
/* контент по центру */
.wrap {
    width: 55%;
    margin: auto;
}
/* слова с большой буквы */
.capitalize {
    text-transform: capitalize;
}
/* все буквы в слове заглавные */
.uppercase {
    text-transform: uppercase;
}
/* стиль коментариев */
.comments {
    font-size: 1rem;
    color: #cdc6c6;
}
/* скобки вокруг коментариев */
.comments:after {
    content: " )";
}

.comments:before {
    content: "( ";
}

label {
    display: block;
    width: 100%;
    height: 100%;
}

input[type=checkbox] {
    width: 20px;
    height: 20px;
    margin: 19px;
}

/* стиль текста у футера и параграфа под h1 */
div > p {
    font-weight: bolder;
    line-height: 1.5rem;
}
/* здесь текст должен поменять цвет и стать перечеркнутым но цвет меняет только родительский span */
input:checked + .line-through {
    text-decoration: line-through;
    color: #a3a0b5;
}
/* смена цвета для вложенного span */
input:checked + .line-through .comments {
    color: #a3a0b5;
}