
/*html, body {*/
/*height: 100%;*/
/*}*/

h1, p, a {
    text-align: left;
    line-height: 20px;
    font-weight: 400;
}

.container {
    margin: 75px auto;
    max-width: 470px;
    padding: 30px;
    border-radius: 4px;
    background-color: white;
}

/*.create_account {*/
/*width: 86%;*/
/*margin: 0 auto;*/
/*}*/

/*img {*/
/*margin-right: 10px;*/
/*margin-left: 31px;*/
/*}*/

h1 {
    margin: 0;
    padding-bottom: 20px;
    font-size: 24px;
    font-weight: 700;
    color:  #1b1c1d;
}

p {
    /*padding-right: 35px;*/
    /*padding-left: 33px;*/
    font-size: 13px;
    color:  #797b7f;
}

a {
    font-size: 13px;
    text-decoration: none;
    color:  #ea355a;
}

/*form {*/
/*display: flex;*/
/*flex-wrap: wrap;*/
/*padding-left: 33px;*/
/*padding-right: 33px;*/
/*margin-top: 34px;*/
/*}*/

input {
    margin-top: 6px;
    margin-bottom: 6px;
    padding: 14px 0 14px 13px;
    border: none;
    border-radius: 4px;
    outline: none;
    background-color: #f0f0f0;
}

input:focus {
    border: 1px solid #bd1962;
}

.form__input--left {
    width: 48.3%;
    margin-right: 6px;
}

.form__input--right {
    width: 48.3%;
    margin-left: 7px;
}

.form__input--email {
    width: 100%;
}

.form__input--password {
    width: 100%;
}

.btn {
    width: 100%;
    background-color: #ea355a;
    font-size: 18px;
    line-height: 20px;
    color: rgb(255,255,255);
    font-weight: bold;
    border-bottom: 4px solid #bd1962;
    outline: none;
}

.btn:active {
    background-color: #bd1962;
}

.form__text--bottom a {
    font-size: 12px;
}

.form__text--bottom {
    padding-left: 33px;
    padding-right: 47px;
    font-size: 12px;
}