* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.board {
    width: 630px;
    height: 630px;
    padding: 20px;
    margin: 20px auto;
    background-color: #e0c7a9;
}

.border {
    border: 5px solid black;
    height: 100%;
}

.row {
    height: 12.5%;
}

.cell {
    float: left;
    width: 12.5%;
    height: 100%;
    border: 1px solid black;
}

.row:nth-child(odd) .cell:nth-child(odd) {
    background-color: black;
}

.row:nth-child(even) .cell:nth-child(even) {
    background-color: black;
}

.checker {
    width: 98%;
    height: 98%;
    margin: 1% auto;
    border-radius: 50%;
}

.checker_black {
    background-color: #6a483c;
}

.checker_red {
    background-color: #be2b31;
}