* {
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
    transition: all .1s ease-in;
    box-sizing: border-box;
    color: #c2c2c2;
}

h2 {
    font-size: 16px;
}

a {
    display: block;
    text-decoration: none;
    padding: 5px;
}

img {
    vertical-align: middle;
    padding: 5px;
    min-width: 50px;
    border-radius: 3px;
}

.people img {
    border-radius: 50%;
}

.wrap {
    width: 80%;
    margin: 0 auto;
}

.search {
    width: 95%;
    margin: 15px auto;
}

.wrap_column {
    display: inline-block;
    width: 33%;
    vertical-align: text-top;
}

.people,
.popular,
.recent {
    width: 88%;
    margin: 0 auto;
}

.vertical-align {
    display: inline-block;
    vertical-align: middle;
    text-align: justify;
    width: 78%;
    padding: 5px;
}

.uppercase {
    text-transform: uppercase;
}

li.item {
    background-color: rgba(118,117,128,0.05);
    list-style-type: none;
    margin: 5px auto;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
}

input[type="text"] {
    width: 94%;
    border: none;
    outline: none;
    height: 100%;
    font-size: 5rem;
    font-weight: bold;
    color: #ec5a62;
    padding: 5px;
    background-color: white;
}

input[type="image"] {
    width: 50px;
}

li.item:hover {
    background-color: rgba(118,117,128,0.1);
}

li.item:hover p {
    color: #ec5a62;
}

::placeholder {color:#c2c2c2;}

:focus::placeholder {opacity:0;}