@font-face {
    font-family: 'museosansrounded-100';
    src: url('../fonts/museosansrounded-100-webfont.woff2') format('woff2'),
    url('../fonts/museosansrounded-100-webfont.woff') format('woff')
}

* {
    margin: 0 0;
    padding: 0 0;
    box-sizing: border-box;
    font-family: museosansrounded-100, sans-serif;
}

.container {
    position: relative;
    width: 800px;
    height: 600px;
    margin: 25px auto 0;
    background: url("../img/layer_6.png"), url("../img/layer_5.png"), url("../img/background.png") no-repeat #c5c5c8;
}

.container__card {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    width: 690px;
    height: 390px;
    background-color: #111a28;
    border-radius: 10px;
    box-shadow: 0 0 65px rgba(0, 0, 0, 0.82);
}

.container__image {
    position: relative;
    width: 60%;
}

.container__info {
    width: 40%;
}

.logo {
    position: absolute;
    left: 20px;
    top: 20px;
}

.img_product {
    position: absolute;
    left: 40px;
    right: 40px;
    bottom: 105px;
}

.btn_select {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    width: 70px;
    height: 20px;
}

.btn_select > span {
    box-sizing: content-box;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.btn_select > span:hover {
    border: 2px solid darkgray;
}

.btn_select--black {
    background: #1f273f;
}

.btn_select--white {
    background: #ffffff;
}

.btn_select--red {
    background: #ed3333;
}

.btn_select--blue {
    background: #29e3ea;
}

.container__info {
    padding-left: 35px;
}

.container__info h2 {
    font-size: 24px;
    line-height: 26px;
    color: rgba(225, 225, 225, 0.9);
    padding-top: 75px;
    padding-bottom: 15px;
    font-weight: 200;
}

.container__info p {
    font-size: 14px;
    font-weight: 200;
    color: rgba(225, 225, 225, 0.5);
}

.stars {
    padding: 20px 0;
}

.stars span {
    color: yellow;
}

.stars span:nth-child(n+4) {
    color: white;
}

select {
    margin-bottom: 30px;
}

select, option {
    padding: 6px 8px;
    outline: none;
    color: #ffffff;
    background-color: #111a28;
}

input {
    padding: 12px 55px;
    font-size: 14px;
    line-height: 18px;
    outline: none;
    color: #ffffff;
    background: #202835;
    border: 1px solid rgba(225, 225, 225, 0.5);
}

input:active {
    background-color: rgba(132, 132, 132, 0.5);
    color: #0c0e18
}