* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #464f54;
}

main {
    padding-top: 50px;
}

input {
    display: block;
}

.tools {
    margin-bottom: -50px;
    text-align: right;
}

.search {
    display: inline-block;
    width: 55%;
    padding: 20px;
    text-align: left;
    background-color: #181818;
}

.control_bar {
    display: inline-block;
    width: 50%;
    text-align: left;
    list-style-type: none;
    background-color: #fabf2d;
}

.control_bar li {
    display: inline-block;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
    padding: 0 50px;
    background-color: #fff;
}

.content {
    padding: 100px 50px 50px;
    border-left: 2px solid rgba(204, 204, 204, 0.59);
}

/*.line_decor,*/
/*.content {*/
    /*display: inline-block;*/
/*}*/

/*.line_decor {*/
    /*width: 2px;*/
    /*height: 100%;*/
    /*background-color: rgba(79, 84, 81, 0.53);*/
/*}*/